{% extends "base2.html" %}
{% load static %}
{% block title %} Kegiatan - {{data.nama_kegiatan}} {% endblock %}
{% block content %}
  <main id="main">
    <section class="service-details" name = "form">
      <div class="container mt-6">
          <h3>{{data.nama_kegiatan}}</h3>
          <br>
          <h5>Peserta {{data.nama_kegiatan}} :</h5>
          <div class="container mt-6 list-jadwal-kelas">
            <div class="list-group" style="max-width:50%">
                {% for list in data1 %}
                    <a style="display: flex; justify-content : space-between; flex-direction : row" class="list-group-item">{{list.nama_peserta}}
                      <input type="hidden" name="action" value="delete"><input type="submit" class="btn btn-danger" value="Delete"></a>
                {% endfor %}
            </div>
          </div>
        </div>
    </section>
    <div class="container mt-4 form-jadwal-kelas">
        {% if status %}
            {% if status == 'success' %}
            <div class="alert alert-success" role="alert" style="max-width: 70%">
              Berhasil menambahkan Peserta Baru !
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert" style="max-width: 70%">
              Terjadi kesalahan input, silahkan coba lagi !
            </div>
            {% endif %}
        {% endif %}
        <form action="" method="post" style="max-width: 70%">
            {% csrf_token %}
            {% for input in form %}
                <h6>{{input.label}}</h6>
                {{input}}
            {% endfor %}
            <a href="{% url 'story6-home' %}"><button type="button" class="btn btn-primary mt-2">Back</button></a>
            <input type="submit" class="form-control btn btn-primary mt-2" value="Submit" style="width: 100px">
        </form>
        </div>
    </div>
    <div class="container mt-4">
      <div class="icon-bar">
        <p style="text-align: center"><b>Contact me</b></p>
        <p>
            <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
            <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
            <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
        </p>
        <p>
            <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
            <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
        </p>
      </div>   
    </div>
  </main>
{% endblock %}