{% extends "base2.html" %}
{% load static %}
{% block title %} Kegiatan {% endblock %}
{% block content %}
<main id="main">
    <div class="d-flex flex-row flex-wrap">
        <div class="container mt-6">
            <h5>Daftar kegiatan</h5>
            <div class="list-group" style="max-width:70%">
                {% for list in data %}
                    <a href="/kegiatan/{{list.id}}" class="list-group-item list-group-item-action">{{list.nama_kegiatan}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-4 form-jadwal-kelas">
            {% if status %}
                {% if status == 'success' %}
                <div class="alert alert-success" role="alert" style="max-width: 70%">
                    Berhasil menambahkan Kegiatan Baru !
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert" style="max-width: 70%">
                    Terjadi kesalahan input, silahkan coba lagi !
                </div>
                {% endif %}
            {% endif %}
            <form action="" method="post" style="max-width: 70%">
                {% csrf_token %}
                {% for input in form %}
                    <h6>{{input.label}}</h6>
                    {{input}}
                {% endfor %}
                <input type="submit" class="form-control btn btn-primary mt-2" value="Submit" style="width: 100px">
            </form>
            </div>
        </div>
    </main>
{% endblock %}