{% extends "base2.html" %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About me</h2>
          <ol>
            <li><a href="{% url 'story3-home' %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section>
    <section class="service-details">
      <div class="container">
          <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'Suwandi2.png' %}" alt="...">
            </div>
            <div class="card-body" style="background: rgba(250, 185, 185, 0.863)">
              <h5 class="card-title"><a href="#">Selamat datang</a></h5>
              <p class="card-text">Perkanalkan nama saya Suwandi Kurniawan.
              Saya adalah mahasiswa jurusan Sistem Informasi FASILKOM UI
              2019. Saya mengambil PPW pada semester ini karena saya sudah penasaran untuk belajar website.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <img src="{% static 'About1.png' %}" style="max-width: 97%;max-height: 88%" alt="...">
        </div>
      </div>
      </div>
    </div>
    </section>

    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Pengalaman Organisasi</h2>
          <p>Berikut adalah beberapa pengalaman organisasi dan kepanitiaan yang pernah saya ikuti</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'KIR.png' %}" class="testimonial-img" alt="">
            <h3>KIR</h3>
            <h4>Kelompok Ilmiah Remaja (SMAN 2 Jakarta)</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Kelompok Ilmiah Remaja (KIR) adalah kelompok remaja yang melakukan serangkaian kegiatan yang menghasilkan suatu hasil yang disebut karya ilmiah.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'Buddhist.jpg' %}" class="testimonial-img" alt="">
            <h3>Acara Magha Puja</h3>
            <h4>Ketua Seksi Perlengkapan</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Acara Magha Puja merupakan salah satu perayaan hari besar dalam agama Buddha. Saya sebagai Ketua Seksi Perlengkapan menyiapkan seluruh perlengkapan yang dibutuhkan.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'KMBUI.png' %}" class="testimonial-img" alt="">
            <h3>KMBUI</h3>
            <h4>Staff Departemen HALO</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Sebagai Staff HALO, saya diharapkan selalu menjaga hubungan baik dengan alumni dan organisasi lain di Universitas Indonesia.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'PETA2.jpg' %}" class="testimonial-img" alt="">
            <h3>PETA 2</h3>
            <h4>Ketua Seksi Perlengkapan</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              PETA 2 adalah acara yang dibuat oleh alumni SMAN 2 Jakarta yang mempromosikan PTN-PTN terbaik di Indonesia, sehingga diharapkan banyak lulusan SMAN 2 Jakarta yang berkuliah di PTN.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section>
    <div class="icon-bar">
      <p style="text-align: center"><b>Contact me</b></p>
      <p>
        <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
        <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
        <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      </p>
      <p>
        <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
        <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
      </p>
       
    </div>
  </main>
{% endblock %}