{% load static %}
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="{% url 'story3-home' %}"><span>Suwandi's <h6>website</h6></span></a></h1>
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li><a href="{% url 'story1-home' %}">Story1</i></a></li>
          <li><a href="{% url 'story3-home' %}">Story3</i></a></li>
          <li><a href="{% url 'story3-profile' %}">Profile</a></li>
          <li><a href="{% url 'story3-project' %}">Projects</a></li>
          <li><a href="{% url 'story3-about' %}">About</a></li>
          <li><a href="{% url 'story3-contact' %}">Contact</a></li>
          <li><a href="{% url 'story5-form' %}">Jadwal Kuliah</a></li>
          <li><a href="{% url 'story6-home' %}">Kegiatan</a></li>
        </ul>
      </nav>

    </div>
</header>