{% extends "base2.html" %}
{% load static %}
{% block title %} Story3 {% endblock %}
{% block content %}
  <main id="main">
    
  <section class="features">
      <div class="container">

        <div class="section-title">
          <h1>Suwandi Kurniawan</h1>
          <p><img src="{% static 'Suwandi.jpg' %}" style="max-width: 200px"></p>
          <p style="font-size:medium">
          <p><b><i>Selamat datang</i></b> di halaman profilku</p>
          <p>Saya Suwandi Kurniawan</p> 
          <p>semoga dapat menjadi inspirasi bagi kalian</p>
          </p>
        </div>

        <div class="icon-bar">
          <p style="text-align: center"><b>Contact me</b></p>
          <p>
            <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
            <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
            <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
          </p>
          <p>
            <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
            <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
          </p>
           
        </div>

    <p>
    <div class="center">
    <div class="container">
        <h2>Foto-Foto Tentang Saya</h2>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Lihat Foto
        </button>

        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
              <div class="modal-header">
                <h4 class="modal-title">Foto-Foto Tentang Saya</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                          
              <div id="demo" class="carousel slide" data-ride="carousel">
                  <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                  </ul>
                  <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="{% static 'Album/Suwandi.jpg' %}" alt="Famgath KMBUI 2019" width="1100" height="500">
                      <div class="carousel-caption">
                      <p>Famgath KMBUI 2019</p>
                      </div>   
                  </div>
                  <div class="carousel-item">
                      <img src="{% static 'Album/Suwandi2.jpg' %}" alt="HALO KMBUI 28" width="1100" height="500">
                      <div class="carousel-caption">
                      <p>HALO KMBUI 28</p>
                      </div>   
                  </div>
                  <div class="carousel-item">
                      <img src="{% static 'Album/Suwandi3.png' %}" alt="JAKUN !" width="1100" height="500">
                      <div class="carousel-caption">
                      <p>JAKUN !</p>
                      </div>   
                  </div>
                  <div class="carousel-item">
                      <img src="{% static 'Album/Suwandi4.jpg' %}" alt="Castle 8 Board Game" width="1100" height="500">
                      <div class="carousel-caption">
                          <p>Castle 8 Board Game</p>
                      </div>   
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  </a>
              </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </p>

    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">
        <h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;"> My music cover <img src="{% static 'music.png' %}" style="max-width: 32px"></h1>
        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'Suwandi Kurniawan.png' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/7gOEHlNuAok" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i><img src="{% static 'guitar.png' %}" style="max-width: 80px"></i></div>
              <h4 class="title"><a href="https://youtu.be/7gOEHlNuAo">RAN - Dekat Di Hati || (Cover by Suwandi)</a></h4>
              <p class="description">Ini adalah cover lagu pertama saya. Jangan lupa like, comment, dan subscribe ya ...Thanks for watching</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i><img src="{% static 'RAN.png' %}" style="max-width: 80px"></i></div>
              <h4 class="title"><a href="https://id.wikipedia.org/wiki/RAN_(grup_musik)">Sekilas RAN</a></h4>
              <p class="description">Artis            - RAN</p>
              <p class="description">Album            - Hari Baru</p>
              <p class="description">Dilisensikan ke  - PT. DIGITAL RANTAI MAYA</P>  
            </div>
          </div>
        </div>
      </div>
    </section>
    <p>
        <div class="center">
            <a id="contact">
                <h4 style="font-family: Georgia, 'Times New Roman', Times, serif">You can contact me at</h4>
            </a>
            <p>
            <h4><a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="phone"><i class="fa fa-phone"></i></a> 0819-7751-7988</h4>
            </p>
        </div>
    </p>
  </main>
{% endblock %}