{% extends "base2.html" %}
{% load static %}
{% block title %} Jadwal Kuliah - {{data.nama_matkul}}{% endblock %}
{% block content %}
  <main id="main">
    <section class="service-details" name = "form">
      <div class="container mt-6">
          <h3>{{data.nama_matkul}}</h3>
          <table>
              <tr>
                  <td>Nama Dosen</td>
                  <td>: {{data.nama_dosen}}</td>
              </tr>
              <tr>
                  <td>Jumlah SKS</td>
                  <td>: {{data.jumlah_sks}}</td>
              </tr>
              <tr>
                  <td>Deskripsi</td>
                  <td>: {{data.deskripsi}}</td>
              </tr>
              <tr>
                  <td>Ruang Kelas</td>
                  <td>: {{data.ruang_kelas}}</td>
              </tr>
            </table>
            <br>
            <h4>Tugas Matkul Ini </h4>
            <table  class="table">
                <thead>
                    <tr>
                        <th scope="col">Nama Tugas</td>
                        <th scope="col">Deskripsi Tugas</td>
                        <th scope="col">Deadline</td>
                    </tr>
                </thead>
                {% for x in tugas %}
                <tr style="background-color: {{x.1}};">
                    <td>{{ x.0.nama_tugas }}</td>
                    <td>{{x.0.deskripsi}}</td>
                    <td>{{x.0.deadline}}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="/jadwalkuliah"><button type="button" class="btn btn-primary">Back</button></a>
            <form action="" method="post" class="mt-4" style="display:inline">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="submit" class="btn btn-danger" value="Delete"> 
            </form>
        
        </div>
    </section>

    <div class="container mt-4">
      <div class="icon-bar">
        <p style="text-align: center"><b>Contact me</b></p>
        <p>
            <a href="https://m.facebook.com/suwandi.kurniawan.904?ref=bookmarks/" class="facebook"><i class="fa fa-facebook"></i></a>  
            <a href="https://www.instagram.com/suwandi_k89/" class="instagram"><i class="fa fa-instagram"></i></a> 
            <a href="https://api.whatsapp.com/send?phone=8197757988&text=Hi,%20Saya%20Suwandi%20Kurniawan,%20senang%20dapat%20berkenalan%20dengan%20kalian..." class="whatsapp"><i class="fa fa-whatsapp"></i></a>
        </p>
        <p>
            <a href="https://drive.google.com/open?id=1E2vl5WJl3gEzOE2OM22ovRtK599Nf8c_" class="google"><i class="fa fa-google"></i></a> 
            <a href="https://www.linkedin.com/in/suwandi-kurniawan-b05827150/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UC6MyCZGwQusU8qUSYRQCb4g/" class="youtube"><i class="fa fa-youtube"></i></a> 
        </p>
      </div>   
    </div>
  </main>
{% endblock %}